*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
}

.container {
    width: 600px;
    background: white;
    margin: 40px auto;
    padding: 20px;
}

.box1 {
    width: 200px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    border: 5px solid navy;
    /* width= 200px, height= 100px total space=210px(width) and 110px(height)*/
}

.box2 {
    width: 300px;
    height: 150px;
    padding: 10px 30px;
    margin: 10px 20px;
    border: 2px solid red;
      /* width= 300px, height= 150px total space=310px(width) and 170px(height)*/
}

.box3 {
    width: 50%;
    padding: 5%;
    margin: 0 auto;
    border: 1px solid green;
      /* width= 300px, total space=300px(width) and 15px padding*/
}

